.signUpContainer {
  width: 438px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

.description {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-bottom: 40px;
  color: #121417cc;
}

.formGroup {
  margin-bottom: 18px;
}

.input {
  width: 100%;
  padding: 16px;
  border: none;
  background-color: #f2f4fa;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #767b8e;
  transition: 0.3s;
  box-sizing: border-box;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #767b8e;
}

.input:focus {
  outline: none;
  border: 1px solid #767b8ea6;
}

.phoneBox {
  position: relative;
}

.phoneBox input {
  padding-left: 48px;
}

.phoneBox img {
  position: absolute;
  top: 20px;
  left: 16px;
}
.privacyWrap {
  display: flex;
}
.checkbox {
  width: 16px;
  height: 16px;
  accent-color: var(--main-color);
  margin: 0 8px 0 0;
}

.checkbox:checked {
  background-color: none;
  border-color: var(--main-color);
}

label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

label a {
  text-decoration: none;
  color: #3577f7;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.signUpButton {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  margin-top: 48px;
  transition: 0.3s;
}

.signUpButton:hover {
  background-color: var(--main-color-hover);
}
