.modalWrapper {
  position: relative;
  padding: 29px 20px;
  border: none;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.modalWrapper:focus {
  outline: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 58px;
}

.btnClose {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
}

.btnClose:hover {
  transform: scale(1.1);
}

.btnClose svg {
  width: 32px;
  height: 32px;
  stroke: #2f2f2f;
}

@media screen and (max-width: 374px) {
}

@media screen and (min-width: 768px) {
  .modalWrapper {
    padding: 64px;
    width: fit-content;
  }
}
